<div class="main-content">
    <!-- <div class="container-fluid"> -->
    <div class="container">
        <h3>Products Details</h3>
        <mat-card>
            <form>
                <div class="image">
                    <img src="../assets/img/OG organix logo.png">
                </div>
            <div class="form">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Input">
                  </mat-form-field>
                
                  <mat-form-field appearance="outline">
                    <textarea matInput placeholder="Textarea"></textarea>
                  </mat-form-field>
                
                  <mat-form-field appearance="outline">
                    <mat-select placeholder="Select">
                      <mat-option value="option">Option</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            </form>
        </mat-card>
    </div>
    <!-- </div> -->
    </div>