form{
    display: flex;
    // justify-content: space-around;
  
    .image{
width: 100%;
max-width: 550px;
display: flex;
justify-content: center;
img{
    width: 100%;
    max-width: 300px;
}
    }
    .form{
        width: 100%;
        max-width: 550px;
        display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
mat-form-field{
    width: 100%;
}
    }
}
@media screen and (max-width:425px){
    form{
    flex-wrap: wrap;
    }
}