<footer class="footer ">
    <div class="container-fluid" style="padding-right: 0px; padding-left: 0px;">
        <div class="copyright"> Copyright &#169; 2020 OG Organix All Rights Reserved. Powered by </div>
         
        <!-- <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.creative-tim.com">
                        Creative Tim
                    </a>
                </li>
                <li>
                    <a href="https://creative-tim.com/about-us">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="http://blog.creative-tim.com">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/license">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav> -->
        <!-- <div class="copyright pull-right">
           <span> Copyright &#169; 2020 OG Organix All Rights Reserved. Powered by </span>
             &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
        </div> -->
    </div>
</footer>
