.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    mat-card {
        width: 100%;
        max-width: 450px;
        padding: 30px;
        .image {
            img {
                max-width: 130px;
                width: 100%;
                margin-top: -80px;
            }
        }

        .form {
            span {
                margin-top: -10px;
                font-weight: 500;
            }

            h1 {
                font-size: 30px;
                font-weight: bold;
            }
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        button {
            background-color: #4c9101;
            color: #fff;
        }
        label{
            text-decoration: underline;
            cursor: pointer;
            
        }
        label:hover{
            color: #4c9101;
        }
        ::ng-deep{
            .mat-checkbox-label:hover{
            color: #4c9101;
        }
        .mat-checkbox-checked.mat-accent .mat-checkbox-background {
            background-color: #797979 !important;
          }
         }

    }
}