<div class="container">
<mat-card class="mat-elevation-z8">
    <div class="image d-flex justify-content-center ">
        <img src="../assets/img/OG organix logo.png" >
    </div>
    <div class="form">

    <h1 class="mt-4">Welcome</h1>
<span  >Please sign in to continue</span>
    </div>
    <form class="mt-4">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email">
            <mat-icon matPrefix>mail</mat-icon>
            
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password">
            <mat-icon matPrefix>lock</mat-icon>
            
          </mat-form-field>
         <div class="d-flex justify-content-between">
             <mat-checkbox>Remember Me</mat-checkbox>
            <label>Forgot Password?</label>
         </div>
          <div class="d-flex justify-content-center align-items-center  mt-4">
            <button mat-raised-button >Sign in</button>
          </div>

    </form>
</mat-card>
</div>