<div class="main-content">
  <div class="container-fluid">
  <div class="container">
      <h3>Products List</h3>
      <mat-card class="mat-elevation-z2">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
    <div class="tables">    
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        
          <!-- Position Column -->
          <ng-container matColumnDef="s.no">
            <th mat-header-cell *matHeaderCellDef> S.No. </th>
            <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="productName">
            <th mat-header-cell *matHeaderCellDef>Product Name </th>
            <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> Category </th>
            <td mat-cell *matCellDef="let element"> {{element.category}} </td>
          </ng-container>
          <ng-container matColumnDef="productImage">
            <th mat-header-cell *matHeaderCellDef> Product Image </th>
            <td mat-cell *matCellDef="let element"> 
              <img [src]="element.productImage" width="30px"></td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element"> 
            <span style="cursor: pointer;" (click)="editProduct(element)"><img src="./assets/img/edit.png"></span>  
            <span style="margin-left:5px;cursor: pointer;"><img src="./assets/img/Delete.png"></span>  
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      </mat-card>
  </div>
  </div>
</div>
