.tables {
    width: 100%;
    overflow: auto;

    table {
        width: 100%;
        min-width: 500px;

        .mat-header-cell {
            text-align: center;
        }

        .mat-cell {
            text-align: center;

        }

    }
}